<%= content_for :container_div_class, "memberlogin" %>

<h6>Forgot Password</h6>


<div class="contentmidder bdbot">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="logininput">
        <%= f.email_field :email, :autofocus => true, :class => "shartabinput", :placeholder => "Email" %>
      </div>

      <div class="clearboth"><input type="submit" value="&nbsp;Send me reset password instructions&nbsp;" class="uploastyle2">
      </div>
  <% end %>
</div>

