<h1>My Products</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, from_code_path(product.code) %></td>
        <td><%= number_to_currency product.price, :unit => "$" %></td>
        <td><%= link_to "Show", profile_product_path(product.code) %> |
        <%= link_to "Destroy", profile_product_delete_path(product.code), :method => :delete, :confirm => "Are you sure?" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

