<h1>Sold Orders</h1>
<table>
  <thead>
  <tr>
    <th>Product Name</th>
    <th>Total</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.product.name, from_code_path(order.product.code) %></td>
        <td><%= number_to_currency order.total, :unit => "$" %></td>
        <td><%= link_to "Show", profile_sold_order_path(order) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

